<p id="notice"><%= notice %></p>

<div align="center">
	<h1>"Помоги ему развернуть - широкую на широкую ..." (с) Местный главнокомандующий
	</h1>
		<img src="/assets/image.jpg" height="400" width="600" align="center">
	<h3> Если ты не в теме - 
		<a href="https://www.youtube.com/watch?v=zrUpl_pswD8"> жми сюда</a>
		!
	</h3> 
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
<br>
